*{
  margin: 0;
  padding: 0;
}

.App{
  background: rgb(96, 181, 196);
  height: 100vh;
  overflow: hidden;
  display: flex;
}

img{
  width: 36%;
}

.box{
  background-color: rgb(83, 152, 161);
  width: 600px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 1px black;
  border-radius: 10px;
}

h1{
  font-size: 40px;
  font-weight: 600;
  color: #445A6F;
  margin: 40px 0;

}

button{
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #445A6F;
  background-color: #445A6F;
  color: rgb(250, 242, 242);
  font-size: 20px;
  margin: 50px 0px;

}
 #link-data{
  color: rgb(65, 62, 62);
 
}

@media (max-width: 937px) {
  #bg {
   display: none; 
  }
}

@media (max-width: 630px) {
  .box{
   width: 500px;
  height: 400px; 
  }
}


@media (max-width: 530px) {
  .box{
   width: 400px;
  height: 400px; 
  }
}

@media (max-width: 420px) {
  .box{
   width: 350px;
  height: 400px; 
  }
}

@media (max-width: 445px) {
 #link-data{
  color: rgb(65, 62, 62);
  
  font-size: 13px;
 
}

#link-para{
  margin-left: 1rem;
}
}

